.blogCard{
  background:var(--textColorOne) !important;
}

.blogImage{
  width:20vw !important;
  object-fit: cover !important;
}

.blogTitle{
  color:var(--secondaryColor) !important;
}

.blogContent{
  white-space: wrap !important;
  width: 60vw !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

@media (max-width:500px){
  .con{
    margin:0 !important;
  }
}