

.uProfileTitle {
  color: var(--textColorTwo) !important;
}


.titleLine {
  width: 85% !important;
  height: 5em !important;
  background: none !important;
  border-top: 0.2em outset var(--thirdColor) !important;
  margin-left: 1em !important;
  margin-top: 1em !important;
}

.profileCon {
  background: var(--textColorOne) !important;
}

.uPImg {
  width: 100% !important;
  border-bottom: inset 0.2em var(--firstColor) !important;
}


.imgBox:hover{
    cursor:pointer !important;
}

.uPic {
  width: 5em !important;
  height: 5em !important;
  object-fit: center !important;
  border-radius: 100% !important;
}

#uploadfile {
    width: 5em !important;
    height: 5em !important;
    border-radius: 50% !important;
    position: absolute !important;
    cursor: pointer !important;
  
    opacity:0 !important;
  }

.uPName {
  width: 100% !important;
  text-transform: capitalize !important;
}

.uPline {
  display: inline-block !important;
  width: 100% !important;
  height: 0.2em !important;
  background: var(--thirdColor) !important;
  border-radius: 0.2em !important;
}

.textLeft {
  text-align: right !important;
}

.uProfileBar {
  width: 3vw !important;
  height: 100vh !important;
  background: #fff !important;
  position: fixed !important;
  left: 0 !important;
}

.bx {
  color: var(--secondaryColor) !important;
  font-size: 1.5em !important;
}



.pHistory {
  min-height: 60vh !important;
}

.selectTitle {
  border-bottom: 0.1em inset var(--thirdColor) !important;
}
.uSelectLink {
  color: #333 !important;
  border: 0 !important;
  transition: all 0.5s !important;

  position: relative !important;

  overflow: hidden !important;
}

.uSelectLink::after {
  content: "";
  width: 100% !important;
  height: 0.2em !important;
  background: var(--secondaryColor) !important;
  position: absolute !important;
  top: 105% !important;
  right: 100% !important;
  transition: all 0.5s !important;
}

.uSelectLink:hover::after {
  color: var(--secondaryColor) !important;
  left: 0% !important;
}

.table{
  width:auto !important;
}
.uHistory {
  display: block;
  transition: all 0.5s !important;
}

.uReport {
  display: none;
  transition: all 0.5s !important;
}

@media(max-width: 1266px){
  .profileCon{
    display:flex !important;
    flex-direction:column !important;

  }
}

@media(max-width: 540px){
  .body,.profileCon,.uProfileInfo,.uProfileImgBox{
    width:100vw !important;
    margin:0 !important;
    overflow:hidden !important;
  }

  .profileCon{
    margin:0 !important;
    width:100vw !important;
  }
  /* .uProfileInfo{
    width:90vw !important;

  } */
}

@media(max-width: 450px){
  .pHistory{
    display:none !important;
  }
}


