body {
  position: relative !important;
  height:auto !important;
}


#footer {
  width: 100vw !important;
  background: var(--secondaryColor) !important;
  color: var(--textColorOne) !important;

  position: absolute !important;
  top:100% !important;
  
  
}

.footer a {
  color: var(--textColorOne) !important;
}

.footerLink:hover {
  color: var(--thirdColor) !important;
}
