marquee {
  height: 10vh !important;
  width: 100vw !important;
  background: var(--textColorOne) !important;
  color: var(--secondaryColor) !important;
  font-size: 1.1em !important;
  line-height: 10vh !important;
}
.headerInfo {
  margin-top: 10vh !important;
}

.my-card-bg {
  margin-top: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  background-color: var(--secondaryColor);
  padding: 15px;
  border-radius: 20px;
  color: var(--textColorTwo) !important;
}

.serviceLink {
  color: var(--textColorOne) !important;
  transform: scaleX(0) !important;
  transition: transform 10ms ease-in-out !important;
}
.myhover:hover {
  cursor: pointer;
  transform: scaleX(2) !important;
  color: var(--textColorOne) !important;
}

.headerImg {
  margin-top: 2vh !important;

  position: relative !important;
}

.headerBox1 {
  width: 5vw !important;
  height: 10vh !important;
  background: var(--thirdColor) !important;

  position: absolute !important;
  top: 5% !important;
  left: -5% !important;
}

.headerBox2,
.headerBox3 {
  height: 10vh !important;
  background: rgba(138, 57, 171, 0.8) !important;
  color: var(--textColorOne) !important;
  font-size: 1.2rem !important;
  text-align: center !important;
  line-height: 10vh !important;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4) !important;

  padding: 0 1rem 0 !important;

  position: absolute !important;
}

.headerBox2 {
  top: 60% !important;
  left: -5% !important;
}

.headerBox3 {
  top: 75% !important;
  left: 10% !important;
}

.headerImg > img {
  width: 100% !important;
  object-fit: contain;
}

.myBlogs .card-img-top {
  height: 20vh !important;
  object-fit: cover !important;
}

.blogimage{
  transition:all 0.5s !important;
}
.blogimage:hover{
  transform:scale(1.1) !important;

}

.myBlogs .card-body {
  height: 25vh !important;

  position: relative !important;
}

.myBlogs .card-body .btn-green {
  position: absolute !important;
  right: 2em !important;
  bottom: 2em !important;
}

.splideCarousel {
  width: 100vw !important;
  height: auto !important;
  background: var(--secondaryColor) !important;
  color: var(--textColorTwo) !important;
}

.sCarouselTxt {
  width: 80vw !important;
  background: var(--textColorOne) !important;
}

.sCarouselImg {
  width: 4rem !important;
  margin-bottom: -1em !important;
  position: relative !important;
}

.bmi {
  font-size: 28px;
  font-weight: 200;
  color: var(--secondaryColor);
}

/* Subscription */
.subscribeLet {
  color: var(--textColorOne) !important;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.formSubscribe {
  color: var(--textColorOne) !important;
  border-bottom: 1px solid var(--thirdColor) !important;
}

.newsLetterBox {
  position: fixed !important;
  bottom: 3vh !important;
  right: 3rem !important;
  background: var(--textColorOne) !important;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5) !important;

  padding: 0.5em !important;
  border-radius: 50%;

  cursor: pointer;

  position: relative;
}

.newsLetter {
  color: var(--secondaryColor) !important;

  z-index: 200 !important;
}

.newsAlert {
  width: 15em !important;
  display: none !important;
  background: var(--textColorOne) !important;
  color: var(--textColorTwo) !important;

  position: absolute;
  left: -290%;
  bottom: 0;

  transition: all 0.5s !important;
}

.hover:hover .newsAlert {
  display: block !important;
}

@media (max-width: 1000px) {
  .headerImg {
    display: none !important;
  }
  #herosection {
    text-align: center;
  }

  .bmi {
    font-size: 20px;
    text-align: center;
    margin: 3px;
    font-weight: 200;
    color: var(--secondaryColor);
  }
}

@media (max-width: 1144px) {
  .headerBox2 {
    top: 50% !important;
  }
  .headerBox3 {
    top: 60% !important;
  }
}

/* Responsive  */
@media (max-width: 1300px) {
  .myBlogs .card-body {
    height: auto !important;
  }
}

@media (max-width: 1360px) {
  .myBlogs .card-body .btn-green {
    position: static !important;
  }
}

@media (max-width: 576px) {
  .myBlogs .card-body {
    height: auto !important;
  }
}
