body {
  height: 100vh !important;
  overflow: hidden !important;
}

.logo {
  font-size: 2em !important;
  position: absolute !important;
  top: 3vw !important;
  left: 3vw !important;

  text-shadow:2px 2px 2px rgba(0, 0, 0, 0.5) !important;
}

.logo > span {
  text-transform: uppercase !important;
  color: var(--thirdColor) !important;
}

.loginForm {
  width: 35vw !important;
  background: var(--secondaryColor) !important;
  color: var(--textColorOne) !important;
}

.form-label {
  color: var(--textColorOne) !important;
}

.form-control {
  border-bottom: 2px solid var(--textColorOne) !important;
}

@media (min-width: 992px) {
  .loginForm {
    width: 80vw !important;
  }
}

@media (min-width: 768px) {
  .loginForm {
    width: 35vw !important;
  }
}

@media (min-width: 576) {
  .loginForm {
    width: 100vw !important;
  }
}
